.copyright
    - const hexoURL = "https://hexo.io/";
    - const apolloURL = "https://github.com/pinggod/hexo-theme-apollo";
    - const githubURL = "https://github.com/niwolive/";
    p Shaped with #[a(href=hexoURL) Hexo] and #[a(href=apolloURL) hexo-theme-apollo]. Source on #[a(href=githubURL) Github].
